.post-card{
    display: grid;
    background-color: var(--f-color-light);
    box-shadow: 0 0 10px var(--f-color-less-light);
    border-radius: 1rem;
    transition: all var(--transition-speed-fast) ease;
    &:hover{
        transform: scale(1.03);
        box-shadow: 0 0 15px var(--f-color-gray);
    }
    > img{
        width: 100%;
        aspect-ratio: 7/4;
        object-fit: cover;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .text{
        display: grid;
        gap: 0.5rem;
        margin: 1rem;
        p{
            display: flex;
        }
        span{
            margin-left: auto;
        }
        .buttons{
            display: flex;
            gap: 1rem;
            z-index: 100;
        }
    }
}