main{
    width: 100vw;
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    place-content: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    h1{
        margin-bottom: 1rem;
    }
    form{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        .input-group{
            display: grid;
            position: relative;
            z-index: 1;
            &:nth-child(1),
            &:nth-child(2){
                grid-column: span 2;
                width: 100%;
            }
            label{
                position: absolute;
                z-index: 2;
                top: -0.6rem;
                left: 50%;
                transform: translateX(-50%);
                padding-inline: 0.5rem;
                background-color: var(--background-body);
            }
            input, textarea{
                background-color: var(--background-body);
                border: 2px solid var(--bg-accent);
                padding: 0.5rem;
                border-radius: 1rem;
                width: 100%;
                transition: border var(--transition-speed-fast) ease;
                &:hover, &:focus{
                    border: 2px solid var(--bg-color-blue-500);
                    outline: none;
                }
            }
            textarea{
                resize: vertical;
                border-bottom-right-radius: 0;
            }
        }
        .outline-btn{
            width: 100%;
            grid-column: span 2;
        }
        button[type="submit"]{
            width: 100%;
            grid-column: 2/3;
        }
        .small-input{
            width: 100%;
        }
    }
}
@media (max-width: 760px){
    form{
        width: calc(100vw - 2rem);
    }
}
